<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="FirmCrmContext" providerName="System.Data.SqlClient" connectionString="Data Source=firmcrmsqlserver.database.windows.net;Initial Catalog=FirmCrmDb;Integrated Security=False;User ID=firmcrmulrik;Password=Firm2016!!;Connect Timeout=15;Encrypt=True;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>